@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	@font-face {
		font-family: UbuntuBold;
		src: url("./assets/Ubuntu-Bold.ttf");
	}
	@font-face {
		font-family: UbuntuBody;
		src: url("./assets/Ubuntu-Regular.ttf");
	}
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
